@model List<DBGoreWebApp.Models.Entities.Araba>
<h4>Toplam @Model.Count ilanınız var</h4>

@foreach (var araba in Model)
{
    <a asp-controller="User" asp-action="EditAraba" asp-route-id="@araba.Id" class="ilan-kapsayici aktif text-decoration-none">
        <!-- Resim Alanı -->
        <div class="ilan-resim">
            <img src="@(!string.IsNullOrEmpty(araba.ArabaResimleri?.FirstOrDefault()?.ResimArabaUrl) 
                ? araba.ArabaResimleri.FirstOrDefault().ResimArabaUrl 
                : "/img/default-car.jpg")" alt="Araba Resmi" />
        </div>

        <!-- Bilgi Alanı -->
        <div class="ilan-detay">
            <div class="ilan-baslik">@araba.Marka</div>
            <div class="ilan-icerik">
                <div class="ilan-bilgi">
                    <span class="ilan-ust">Model:</span>
                    <span class="ilan-alt">@araba.Model</span>
                </div>
                <div class="ilan-bilgi">
                    <span class="ilan-ust">Fiyat:</span>
                    <span class="ilan-alt">@araba.Fiyat?.ToString("N0") ₺</span>
                </div>
                <div class="ilan-bilgi">
                    <span class="ilan-ust">Yıl:</span>
                    <span class="ilan-alt">@araba.Yil</span>
                </div>
            </div>
        </div>
    </a>
}
